
/* Main body color */
body {
    background:#eaf2d5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;    
}

main {
    flex: 1 0 auto;
  }
.row {
    justify-content: center;
}
/* logo sizing */
.brand-logo {
    margin-top: 1%;
    margin-bottom: 1%;
    padding:5%;
    max-width: 200px;
    
}

/* navbar styling */
.nav-wrapper {
    background: #bdd483 !important;
    margin-bottom: 0px;
    padding-top: 1%;
    padding-bottom: 0.1%;
}


#advisories-btn {
    margin-top: 1%;
    margin-bottom: 1%
}

/* modal styling */
#modalHeader {
    font-weight: 900;
    color: rgb(17, 49, 28);
}

.modal {
    max-height:80% !important ;
    overflow: visible;
    color: #333;
    background-color: rgba(168, 219, 219, 0.877);
    font-size: 25px;
    font-weight: bold;
}

/* main search container styling */
#searchBar{
    margin-top:0;
    margin-bottom: 0;
    padding: 1.5rem;
    background-color: rgba(56, 94, 76, 0.315);
}

/* used to hide the inactive cards */
.cardHidden{
    display: none;
}

#location-input {
    color: white;
    font-size: 5%;
    font-weight: bold;
}

/* Slider styling */
/* Still need to work out how to style slider to overwrite materialize */

/* generic btn styling */
.btn {
    border-radius: 5px;
    background-color: rgba(54, 71, 56, 0.815);
    font-weight: bold;
}

/* HIKING/BEER Tab styling  */
.tab-container {
    padding: 20px;
    background-color: rgba(189, 197, 159, 0.685);
    border-radius: 0px 0px 55px 0px;
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.301), 0 3px 10px 0 rgba(0, 0, 0, 0.274);
}

.tab-btn {
    padding-left: 30%;
    padding-right: 30%;
    background-color: rgba(38, 53, 41, 0.507);
}
/* used to get around materialized active class */
.active{
    background-color: rgb(68, 63, 37);
}

/* Placeholder font styling  */
::placeholder {
    font-size: 14px;
}

/* Card styling */
#hike-summary {
    font-weight: bold;
}
.card {
    
    background-color: rgba(189, 199, 192, 0.822);
}

.beer-results {
    max-width: 80%;
} 

.hiking-results {
    max-width: 80%;
}


/* Footer styling */
.page-footer {
    background-color:#bdd483;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.74), 20px 20px 50px 0 rgba(0, 0, 0, 0.637);  
}

#footer-logo {
    max-width: 150px;
    margin-top: 5px;
}